@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@mixin _transform($effect) {
  -webkit-transform: $effect;
  -moz-transform: $effect;
  -ms-transform: $effect;
  -o-transform: $effect;
  transform: $effect;
}

@mixin _transition($effect) {
  -webkit-transition: $effect;
  -moz-transition: $effect;
  -ms-transition: $effect;
  -o-transition: $effect;
  transition: $effect;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #4a4a4a;
  //background: lighten(#eeeff1, 5%);
}

a {
  color: #4a4a4a;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.thin {
  font-weight: 300;
}

.page {
  &__header {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &__control {
    margin-top: 32px;
    padding: 1rem 0 1rem 2rem;
    a.back {
      display: block;
      font-size: 1.2rem;
      position: relative;
      @include _transition(color .3s ease);
      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -25px;
        font-family: 'Material Icons';
        content: "arrow_back";
        font-size: 1.2rem;
      }
      &:hover {
        color: lighten(#183459, 30%);
      }
    }
  }
}

.messages {
  margin-bottom: 0;
  list-style: none;
}

.errorlist {
  list-style: none;
  li {
    font-size: .95rem;
    color: #b81f26;
  }
}

.form-upload {
  width: 835px;
}

#id_image, #id_date_taken {
  width: 290px;
  cursor: pointer;
}

.date_picker {
  &:before {
    font-family: 'Material Icons';
    content: 'event_note';
    font-size: 1.1rem;
  }
}

label {
  font-weight: 700;
}


/* search */
.search-form {
  margin-bottom: 35px;
}
