{% extends 'image_storage/_layout.html' %}

{% block title %}Добавить изображение{% endblock %}
{% block page_header %}Добавить изображение{% endblock %}
{% block page_control %}
  <a href="{% url 'storage:index' %}" class="back">Вернуться</a>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="form-upload">
      {% if messages %}
        <div class="alert alert-success" role="alert">
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>

      {% endif %}
      <form action="{% url 'storage:add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        {{ form.media }}

        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <div class="alert alert-danger" role="alert">
                {{ form.errors }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        {#      <div class="input-group mb-3">#}
        {#        {{ form.date_taken.label_tag }}#}
        {#        <div class="">#}
        {#        <div class="input-group-prepend">#}
        {#          <span class="input-group-text date_picker"></span>#}
        {#        </div>#}
        {#        {{ form.date_taken }}#}
        {#      </div>#}

        <div class="input-group">
          <button type=”submit” class="btn btn-success">Отправить</button>
        </div>
      </form>
    </div>


  </div>


{% endblock %}
