{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>

  {% render_bundle 'main' 'css' %}
  {% block extra_head %}{% endblock %}
  {% block custom_page_js %}{% endblock %}

</head>
<body>

<header class="site-header">
  <div class="container">
    <div class="page__control">
      {% block page_control %}{% endblock %}
    </div>
    <div class="page__header">
      <h1 class="thin">{% block page_header %}{% endblock %}</h1>
    </div>
  </div>
</header>
<main>
  {% block content %}{% endblock %}
</main>


{% block extra_js_before %}{% endblock %}
{% render_bundle 'main' 'js' %}
{% block extra_js_after %}{% endblock %}
</body>
</html>
