{% extends 'image_storage/_layout.html' %}

{% load thumbnail %}

{% block title %}Редактирование изображения{% endblock %}
{% block page_header %}Редактирование изображения{% endblock %}
{% block page_control %}
  <a href="{% url 'storage:index' %}" class="back">Вернуться</a>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="card-detail">
      <div class="card-detail-wrapper">
        <div class="card-detail-info">

          {% if messages %}
            <div class="alert alert-success" role="alert">
              <ul class="messages">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <form action="{% url 'storage:edit' image.id %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            {{ form.media }}

            {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}

            <div class="input-group">
              <button type=”submit” class="btn btn-success">Отправить</button>
            </div>
          </form>
        </div>
        <div class="card-detail-photo">
          {% thumbnail image.image "400x440" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}

