{% extends 'image_storage/_layout.html' %}

{% load thumbnail %}

{% block title %}Хранилище изображений{% endblock %}
{% block page_header %}Хранилище картинок{% endblock %}
{% block page_control %}
  <a href="{% url 'storage:add' %}" class="btn btn-success">Добавить</a>
  <a href="{% url 'storage:search' %}" class="btn btn-default">Искать <i class="material-icons">arrow_forward</i></a>
{% endblock %}

{% block content %}

  <div class="container">

    <div class="gallery">
      <div class="gallery-list">
        {% for item in images %}
          <div class="card">
            <div class="card__cover">
              <a href="{% url 'storage:edit' item.id %}">
                {% thumbnail item.image "354x224" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              </a>
            </div>
            <div class="card__panel">
              <div class="card__panel-inner">
                <div class="card__info">
                  <a href="{% url 'storage:edit' item.id %}">
                    <span class="card__info-title">{{ item.title }}</span>
                    <span class="card__info-description">{{ item.description | safe }}</span>
                    <span class="card__info-date">{{ item.date_taken }}</span>
                  </a>
                </div>
                <div class="card__options">
                  <a href="{% url 'storage:delete' item.id %}" tooltip="Удалить" flow="right" class="delete">
                    <i class="material-icons">delete</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <nav class="">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="prev"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="next"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
  </div>


{% endblock %}
