{% extends 'image_storage/_layout.html' %}

{% load thumbnail %}
{% load static %}

{% block title %}Искать{% endblock %}
{% block page_header %}Искать{% endblock %}
{% block page_control %}
  <a href="{% url 'storage:index' %}" class="back">Вернуться</a>
{% endblock %}

{% block content %}

  <div class="container">


    <div class="gallery">
      <div class="search-form">
        <form action="" method="get">
          {% for f in filter.form %}
            <div class="form-group">
              {{ f.label_tag }}
              {{ f }}
            </div>
          {% endfor %}
          <button class="btn btn-success" type="submit">Искать</button>
        </form>
      </div>
      <div class="gallery-list">
        {% for item in filter.qs %}
          <div class="card">
            <div class="card__cover">
              <a href="{% url 'storage:edit' item.id %}">
                {% thumbnail item.image "354x224" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
              </a>
            </div>
            <div class="card__panel">
              <div class="card__panel-inner">
                <div class="card__info">
                  <a href="{% url 'storage:edit' item.id %}">
                    <span class="card__info-title">{{ item.title }}</span>
                    <span class="card__info-description">{{ item.description | safe }}</span>
                    <span class="card__info-date">{{ item.date_taken }}</span>
                  </a>
                </div>
                <div class="card__options">
                  <a href="{% url 'storage:delete' item.id %}" tooltip="Удалить" flow="right" class="delete">
                    <i class="material-icons">delete</i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <nav class="">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="prev"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="next"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    </nav>
  </div>


{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'datepicker/datepicker.min.css' %}">
{% endblock %}

{% block extra_js_after %}
  <script type="application/javascript" src="{% static 'datepicker/jquery.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'datepicker/datepicker.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'datepicker/field.js' %}"></script>
{% endblock %}

