/* image_storage */

.gallery {
  &-list {
    @include make-row();
  }
}

.card {
  @include make-col-ready();
  @include _transition(.3s);

  @include media-breakpoint-up(sm) {
    @include make-col(6);
    max-width: 48%;
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
    max-width: 31%;
  }
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  //height: 325px;
  margin-bottom: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 0;
  background-color: #d8d8d8;
  border-radius: 5px;
  border: 1px solid darken(#f9f9f9, 7%);

  &:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .25);
  }

  &__cover {
    line-height: 1px;
    a {
      line-height: 1px;
    }

  }

  &__panel {
    //line-height: 2em;
    //position: absolute;
    //z-index: 4;
    //top: auto;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //min-height: 2em;
    padding: 1em;
    //transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    //transition-duration: 0.2s;
    //transition-property: transform;
    //text-align: left;
    color: #272c3c;
    background: #fff;
    &-inner {
      //@include make-row();
    }
  }

  &__info {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(8);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
    span {
      display: block;
    }
    &-title {
      opacity: .85;
      font-weight: 700;
      font-size: .95rem;
      overflow: hidden;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-date {
      font-size: .85rem;
      opacity: .85;
      font-weight: 700;
      overflow: hidden;
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-description {
      font-size: 0.85rem;
      line-height: 1.5em;
      width: calc(100% - 4rem);
      text-align: left;
      color: #9b9b9b;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      p {
        margin-bottom: 0;
      }
    }
  }

  &__options {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.card-detail {
  &-wrapper {
    @include make-row();

  }
  &-info {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(7);
    }
  }
  &-photo {
    @include make-col-ready();

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(5);
    }
    order: -1;
    img {
      box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.3);
      width: 100%;
      height: auto;
    }
  }
}
